{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap4 %}
<!doctype html>
<html>
<head>
    <a href="board/"><title>Django table example</title></a>
    <link rel="stylesheet" href="/static/css/pos.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/table_1.css"/>
    <style>
       body {background-color: whitesmoke;}
    </style>
    <script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
</head>
<body>
<div id="Top" style="background:#38c">
    <a href="/tables/" id="acrn_title">&nbsp;对账查询</a>
</div>

<div id="Center">
    <!-- 搜索（针对表名） -->
    <div id="Center_Searcher">
        <form action="{% url 'list_tables' %}" method="get">
        <table class="center_table">
            <tr><td colspan="5"><h3>关键词搜索</h3></td></tr>
            <tr>
                <td>关键词:</td>
                <td align="center">&nbsp;&nbsp;<input name="keywd_input" value="{{ keywd_input }}"></td>
                <td align="center">&nbsp;&nbsp;<input type="submit" value="搜索"></td>
            </tr>
        </table>
        </form>
    </div>

    <!-- 筛选（可由 view 传入 category_list） -->
    <!-- <div id="Center_Filter">
        <form action="{% url 'list_tables' %}" method="get">
        <table class="center_table">
            <tr><td colspan="5"><h3>筛选</h3></td></tr>
            <tr>
                <td>Category:</td>
                <td>&nbsp;&nbsp;<select name="filter_category">
                    {% for i in category_list %}
                      <option value="{{ i }}" {% if i == filter_category %} selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select></td>
                <td><input type="submit" value="Filter"></td>
            </tr>
        </table>
        </form>
    </div> -->
</div>

<div id="Table">
    <h3>&nbsp;Database tables</h3>
    <br>
    <!-- 这里直接罗列表名，每个表名链接到 show_table -->
    <div class="container">
        {% if tables %}
            <ul class="list-group">
                {% for table in tables %}
                    <li class="list-group-item">
                        <a href="{% url 'show_table' table_name=table %}">{{ table }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>没有找到表。</p>
        {% endif %}
    </div>
</div>

</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
    <title>数据库表列表</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>数据库表列表</h1>
        <ul class="list-group">
            {% for table in tables %}
                <li class="list-group-item">
                    <a href="{% url 'show_table' table %}">{{ table }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html> -->
